# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# dependencies
node_modules
bower_components

# dist
dist

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
.nyc_output/

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/test-results/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/vendor