# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

vendor
.netrc
.vscode
.vs
.tern-project
.DS_Store
.idea
.cgo_ldflags
tmp

.eslintcache

# dependencies
web/node_modules
web/.pnp
web/.pnp.js

# testing
web/coverage

# misc
.DS_Store
.env*
/.sass-cache
/connect.lock
/coverage/*
/test-results/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/vendor

# dist
dist

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# make artifacts
/bin

# vendored files
/vendor

# test outputs
/test-results.xml
junit-results
cypress/screenshots
cypress/videos
coverage.txt

# gcloud utils
cloud_sql_proxy
.now

# tools
air
air.log

# test data
cockroach-data
bin
