@import "~bootstrap/scss/bootstrap";

header {
  padding: 156px 0 100px;
}

section {
  padding: 50px 0;
}

.bd-highlight {
  background-color: rgb(237, 253, 255);
  border: 1px solid rgb(106, 214, 227);
}
